.track-waver-wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-mini-timeline-wrapper {
  width: 840px;
  height: 50px;
  margin-bottom: 15px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.track-timeline-wrapper {
  width: 840px;
  height: 400px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-timeline-timer-wrapper {
  width: 840px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.track-moment-editor-wrapper {
  width: 840px;
  height: 250px;
  position: relative;
  display: flex;
}
