.track-page {
  #info-wrapper {
    width: 100%;
  }

  #waver-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rating-list-wrapper {
    width: 100%;
  }

  #timeline-wrapper {
    width: 840px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #moment-editor-wrapper {
    width: 840px;
    height: 250px;
    position: relative;
    display: flex;
  }

  #moments-description-wrapper {
    width: 100%;
  }
}
