@import "../../../assets/styles/global";

.track-info {
  width: 100%;
  height: 230px;
  margin-bottom: 15px;

  & > div {
    @extend .full;
  }

  & > div > div {
    float: left;
  }

  .track-cover-box {
    width: 230px;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;

    & > div {
      @extend .full;
    }

    .track-cover {
      @extend .full;
      background-position: center;
      background-size: cover;
      box-shadow: -5px 5px 15px 5px #222;
      border-radius: 2px;
    }
  }

  .track-content-box {
    width: calc(100% - 230px);
    height: 100%;
    padding: 35px;
    box-sizing: border-box;

    .track-description {
      width: 100%;
      height: 50%;
      display: flex;
      padding: 0 15px;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;

      span {
        color: #848484;
        letter-spacing: 0.137em;
        font-family: "KeepCalm-Medium", "Keep Calm";

        &::selection {
          background: transparent;
        }

        &:hover {
          cursor: context-menu;
        }
      }

      .track-author span {
        font-size: 12.5px;
      }

      .track-title span {
        font-size: 19px;
      }
    }

    .track-player {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      & > div {
        width: 100%;
      }
    }
  }
}

.button-box,
.wide-button-box {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;

  .button {
    @extend .full;
    @extend .middle;
    background: linear-gradient(#414141, #414141);
    border-radius: 50%;
    transition: 0.4s ease-out;

    &:hover,
    &.active {
      cursor: pointer;
      background: linear-gradient(#bc205a, #f94922);
      color: white;
    }
  }

  i {
    font-size: 22px;
  }
}

.wide-button-box {
  width: 220px;

  .button {
    background: #414141;
    border-radius: 25px;

    &:hover {
      background: #4e4e4e;
    }
  }

  .left,
  .right {
    @extend .middle;
    height: 100%;
  }

  .left {
    width: 50px;
  }

  .right {
    width: calc(100% - 50px);
    padding-right: 15px;
    box-sizing: border-box;
  }
}

.volume-slider-box {
  @extend .full;
  @extend .middle;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  & > .volume-area {
    @extend .middle;
    justify-content: flex-start;
    width: 200%;
    height: 12px;
    position: absolute;
    left: 0;
  }

  .volume-knob-area {
    width: calc(50% + 12px);
    height: 12px;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .volume-gray-bar {
      width: 100%;
      height: 3px;
      left: 0;
      position: absolute;
      z-index: 10;
      background: #707070;
    }

    .knob {
      width: 12px;
      height: 12px;
      position: relative;
      right: 0;
      background: white;
      border-radius: 50%;
      z-index: 10;
    }
  }

  .bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #f94922, #bc205a);
    position: relative;
  }
}
