@import "../../../../assets/styles/global";

$timelineHeight: 350px;

.moment-wrapper {
  position: absolute;
  box-sizing: border-box;
  min-width: 4px;
  height: ($timelineHeight / 5);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8px 0px;
}

.moment-container {
  @extend .full;
  position: relative;
  box-sizing: border-box;
}

.moment-name-container {
  @extend .full;
  position: relative;
  top: 0;
  z-index: 10;
  justify-content: center;
}

.moment-name {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  text-align: left;

  &.slide {
    left: 75%;
    transition: 5.25s linear;
  }

  & > span {
    font-family: Roboto;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-variant: small-caps;

    &::selection {
      background: transparent;
    }
  }
}

.moment-background {
  @extend .full;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  box-sizing: border-box;
  top: 0;

  &.highlight {
    opacity: 0.5;
  }
}

.moment-container:hover,
.moment-background:hover {
  opacity: 0.55;
  cursor: pointer;
}

.moment-bottom-stripe {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
}
