@import "../../../assets/styles/global";

.rate {
  @extend .middle;

  .search-wrapper {
    @extend .middle;
    input {
      width: 350px;
      background: #222222;
      color: #aaa;
      padding: 15px;
      border-radius: 20px;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .favourites-wrapper {
    @extend .middle;

    .header-wrapper {
      text-align: center;
    }

    .box {
      width: 120px;
      height: 120px;
      float: left;
      margin: 5px;

      .cover {
        @extend .image;
        background-color: #222;
        width: 100%;
        height: 120px;
        border-radius: 3px;
      }
    }
  }
}
