
.icon-play-outline:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-stop-outline:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e803'; } /* '' */
.icon-pause-outline:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-fast-fw-outline:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e807'; } /* '' */
.icon-rewind-outline:before { content: '\e808'; } /* '' */
.icon-rewind:before { content: '\e809'; } /* '' */
.icon-volume:before { content: '\e80a'; } /* '' */
.icon-volume-off:before { content: '\e80b'; } /* '' */
.icon-volume-low:before { content: '\e80c'; } /* '' */
.icon-volume-middle:before { content: '\e80d'; } /* '' */
.icon-volume-high:before { content: '\e80e'; } /* '' */
.icon-volume-off-1:before { content: '\e80f'; } /* '' */
.icon-volume-down:before { content: '\e810'; } /* '' */
.icon-volume-1:before { content: '\e811'; } /* '' */
.icon-volume-up:before { content: '\e812'; } /* '' */
.icon-volume-up-1:before { content: '\e813'; } /* '' */
.icon-volume-down-1:before { content: '\e814'; } /* '' */
.icon-volume-off-2:before { content: '\e815'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-star-filled:before { content: '\e818'; } /* '' */
.icon-star-1:before { content: '\e819'; } /* '' */
.icon-note:before { content: '\e81a'; } /* '' */
.icon-note-beamed:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81d'; } /* '' */