@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?25291212');
  src: url('../font/fontello.eot?25291212#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?25291212') format('woff2'),
       url('../font/fontello.woff?25291212') format('woff'),
       url('../font/fontello.ttf?25291212') format('truetype'),
       url('../font/fontello.svg?25291212#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25291212#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play-outline:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-stop-outline:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e803'; } /* '' */
.icon-pause-outline:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-fast-fw-outline:before { content: '\e806'; } /* '' */
.icon-fast-fw:before { content: '\e807'; } /* '' */
.icon-rewind-outline:before { content: '\e808'; } /* '' */
.icon-rewind:before { content: '\e809'; } /* '' */
.icon-volume:before { content: '\e80a'; } /* '' */
.icon-volume-off:before { content: '\e80b'; } /* '' */
.icon-volume-low:before { content: '\e80c'; } /* '' */
.icon-volume-middle:before { content: '\e80d'; } /* '' */
.icon-volume-high:before { content: '\e80e'; } /* '' */
.icon-volume-off-1:before { content: '\e80f'; } /* '' */
.icon-volume-down:before { content: '\e810'; } /* '' */
.icon-volume-1:before { content: '\e811'; } /* '' */
.icon-volume-up:before { content: '\e812'; } /* '' */
.icon-volume-up-1:before { content: '\e813'; } /* '' */
.icon-volume-down-1:before { content: '\e814'; } /* '' */
.icon-volume-off-2:before { content: '\e815'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-star-filled:before { content: '\e818'; } /* '' */
.icon-star-1:before { content: '\e819'; } /* '' */
.icon-note:before { content: '\e81a'; } /* '' */
.icon-note-beamed:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81d'; } /* '' */