.timeline-container {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 36px;
  background: #222;
  overflow: hidden;
}

.timeline-full {
  min-width: 50%;
  height: 100%;
  position: absolute;
  background-image: url(../../../assets/svg/timeline-white-grid.svg);
}

.timeline-sections-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
}

.timeline-section {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.timeline-section :hover {
  opacity: 0.85;
  cursor: pointer;
}

.timeline-pointer {
  width: 0px;
  height: 100%;
  position: relative;
  left: 50%;
  border-left: 4px solid #fbfbfb21;
}

.timeline-arrow {
  height: 100%;
  width: 50px;
  background-color: #00000030;
  position: absolute;
  top: 0;
  //box-shadow: 0px 0px 10px #00000045;
  display: none;

  &.right {
    right: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #65197252;
  }
}

.timeline-container:hover .timeline-arrow {
  display: flex;
  justify-content: center;
  transition: width 2s;
}

.timeline-arrow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}
