.timeline-timer-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    font-family: Roboto;
  }
  
  .timeline-timer-block {
    height: 100%;
    width: auto;
    text-align: center;
    font-weight: 300;
  }

  .timeline-timer-miliseconds {
    height: 80%;
    width: auto;
    position: relative;
    display: contents;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
  }