@import "../../../assets/styles/global";

.timeline {
  width: 100%;
  height: 100%;
}

.timeline-container {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  box-sizing: border-box;
  border-radius: 0 0 36px 36px;
  background: #222;
  overflow: hidden;
}

.timeline-timer-box {
  @extend .middle;
  width: 100%;
  height: 50px;
}

.timeline-full {
  min-width: 50%;
  height: 100%;
  position: absolute;
  background-image: url(../../../assets/svg/timeline-white-grid.svg);
  transition: 0.25s linear;
}

.timeline-sections-wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 0px;
}

.timeline-sections-container {
  width: 100%;
  height: 100%;
  position: relative;
  //box-sizing: border-box;
}

.timeline-pointer {
  width: 0px;
  height: 100%;
  position: relative;
  left: 50%;
  border-left: 4px solid #fbfbfb21;
}

.timeline-arrow {
  height: 100%;
  width: 50px;
  background-color: #00000030;
  position: absolute;
  top: 0;
  display: none;

  &.right {
    right: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #65197252;
  }
}

.timeline-container:hover .timeline-arrow {
  display: flex;
  justify-content: center;
  transition: width 2s;
}

.timeline-arrow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}
