@import "../../../assets/styles/global";

.mini-timeline-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: $base-color-component-bg;

    &::-webkit-scrollbar {
        height: 0px !important; 
    }
}

$active_box_width: 210px;

.draggable-container {
    height: 100%;
    width: 1050px;
    position: absolute;
    left: -110px;
    right: 110px;
}

.draggable-box {
    width: 100%;
    height: 100%;
}

.mini-timeline-active-box {
    width: $active_box_width;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute;
    z-index: 1;

    &:hover {
        background-color: rgba(255, 255, 255, 0.12);
        cursor: pointer;
    }
}

.mini-timeline-full {
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    transition: all 0.25s linear 0s;
}

.mini-moment-container {
    height: 20%;
    position: absolute;
    min-width: 2px;
}

.mini-moment {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}