.track-waver {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cls-1 {
  clip-path: url(#clip-Web_1920_1);
}

.cls-2 {
  fill: #2e2e2e;
}

.cls-15,
.cls-20,
.cls-26,
.cls-3,
.cls-5 {
  fill: none;
}

.cls-15,
.cls-3 {
  stroke: #6b6b6b;
}

.cls-3 {
  stroke-width: 4px;
}

.cls-15,
.cls-3,
.cls-5 {
  opacity: 0.15;
}

.cls-4 {
  fill: url(#linear-gradient);
}

.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-21,
.cls-25,
.cls-29,
.cls-30,
.cls-32,
.cls-6 {
  fill: #fff;
}

.cls-6 {
  font-size: 17px;
  letter-spacing: 0.148em;
}

.cls-10,
.cls-11,
.cls-17,
.cls-18,
.cls-22,
.cls-25,
.cls-6,
.cls-7 {
  font-family: KeepCalm-Medium, Keep Calm;
}

.cls-10,
.cls-11,
.cls-17,
.cls-18,
.cls-22,
.cls-25,
.cls-30,
.cls-6,
.cls-7 {
  font-weight: 500;
}

.cls-7 {
  fill: #a37de8;
  font-size: 12px;
}

.cls-18,
.cls-7 {
  letter-spacing: 0.15em;
}

.cls-8 {
  fill: url(#linear-gradient-2);
}

.cls-9 {
  fill: #5e5e5e;
}

.cls-10,
.cls-11,
.cls-22 {
  fill: #848484;
  letter-spacing: 0.137em;
}

.cls-10 {
  font-size: 23px;
}

.cls-11,
.cls-18 {
  font-size: 15px;
}

.cls-12 {
  fill: #1f1f1f;
}

.cls-13 {
  fill: #222;
}

.cls-14 {
  fill: url(#linear-gradient-45);
}

.cls-15,
.cls-26 {
  stroke-width: 3px;
}

.cls-17 {
  font-size: 21px;
  letter-spacing: 0.661em;
}

.cls-19,
.cls-20,
.cls-21 {
  stroke: #fff;
  stroke-linecap: round;
}

.cls-19,
.cls-20 {
  stroke-miterlimit: 10;
  stroke-width: 8.319px;
}

.cls-21 {
  stroke-linejoin: round;
  stroke-width: 1.281px;
}

.cls-22 {
  font-size: 18px;
}

.cls-23 {
  fill: url(#linear-gradient-46);
}

.cls-24 {
  fill: #bc209b;
}

.cls-25,
.cls-29,
.cls-30,
.cls-32 {
  font-size: 14px;
}

.cls-25 {
  letter-spacing: 0.377em;
}

.cls-26 {
  stroke: #343434;
}

.cls-27 {
  fill: #343434;
}

.cls-28 {
  fill: #ff7b2b;
}

.cls-29,
.cls-32 {
  font-family: Roboto-Regular, Roboto;
}

.cls-29,
.cls-30 {
  letter-spacing: 0.14em;
}

.cls-30 {
  font-family: Roboto-Medium, Roboto;
}

.cls-31 {
  fill: #5d238a;
}

.cls-32 {
  letter-spacing: 0.12em;
}

.cls-33 {
  fill: #331273;
}

.cls-34 {
  filter: url(#Path_15);
}

.cls-35 {
  filter: url(#Path_14);
}

.cls-36 {
  filter: url(#Path_13);
}

.cls-37 {
  filter: url(#Rectangle_144);
}

.cls-38 {
  filter: url(#Image_2);
}

.cls-39 {
  filter: url(#Path_12);
}

.cls-40 {
  filter: url(#Path_55);
}
