.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 14.4911;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 14.4911;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st2 {
  fill: #ffffff;
}
