.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.global-player-wrapper {
  width: calc(100% - 350px);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
}

.pages {
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 70px;
  padding: 40px 79px;
  box-sizing: border-box;
}
