@import "../../../assets/styles/global";

.rate {
  @extend .middle;

  .search-wrapper {
    @extend .middle;
    input {
      width: 350px;
      background: #222222;
      color: #aaa;
      padding: 15px;
      border-radius: 20px;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .favourites-wrapper {
    @extend .middle;

    .header-wrapper {
      text-align: center;
    }

    .box-list {
      text-align: center;
      a {
        display: inline-block;
      }

      .box {
        width: 120px;
        height: 120px;
        float: left;
        margin: 5px;
        opacity: 0.8;
        transition: opacity 0.25s ease-out;

        &:hover {
          opacity: 1;
        }

        .cover {
          @extend .image;
          background-color: #222;
          width: 100%;
          height: 120px;
          border-radius: 3px;
        }
      }
    }
  }

  .spinner-wrapper {
    @extend .middle;
  }
}

.details-wrapper {
  width: 200px;
  background: #222;
}
