@import "../../../assets/styles/global";

.user-bar,
.login-bar {
  @extend .middle;
  width: 100%;
  height: 70px;
  padding: 0 10%;
  box-sizing: border-box;

  & > div {
    width: 100%;
    height: 40px;
  }

  input {
    width: 100%;
    background: transparent;
    border: none;
    color: #ccc;

    &:focus {
      outline: none;
    }
  }

  .user-box,
  .user-logout,
  .login-box {
    @extend .middle;
    float: left;
    height: 100%;
  }

  .user-box,
  .login-box {
    width: 205px;
    background: #ffffff08;
    border-radius: 20px;

    .user-nickname {
      @extend .middle;
      width: calc(100% - 40px);
      height: 100%;
    }

    .user-photo {
      width: 40px;
      height: 100%;
      padding: 5px;
      box-sizing: border-box;

      & > div {
        @extend .full;
        @extend .image;
        border-radius: 50%;
        background-image: url(https://mpng.pngfly.com/20190716/uvj/kisspng-computer-icons-ninja-portable-network-graphics-ico-5d2db041e8b4d6.8568296315632753299532.jpg);
      }
    }

    span {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .user-logout {
    @extend .middle;
    width: calc(100% - 205px);
    height: 100%;

    &:hover {
      cursor: pointer;

      & > span {
        color: #bc76fa;
      }
    }

    & > span {
      transition: 0.2s ease-out;
      color: #c789ff;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}

.login-bar {
  .login-box {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;

    &.soundcloud:hover {
      background: linear-gradient(to right, #ff642b, #ea4000);
      cursor: pointer;
      transition: 0.25s ease-out;

      span,
      i {
        color: white;
      }
    }

    .login-input {
      width: 100%;
    }

    span {
      color: #aaa;
      font-size: 11px;
      text-transform: uppercase;
    }

    i {
      font-size: 14px;
      color: #ff9125;
    }
    .login-icon {
      margin-left: 10px;
    }
  }
}
