@import "../../../../assets/styles/global";

.timeline-moment-contextmenu {
  position: absolute;
  display: flex;
  width: 200px;
  min-height: 200px;
  background: #101010dd;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;

  .options-wrapper {
    ul {
      margin: 0;
      padding: 0;
      li {
        background: #222;
        opacity: 0.75;
        padding: 10px;
        text-transform: uppercase;
        font-size: 13px;
        list-style: none;
        transition: 0.2s ease-out;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }

        i {
          margin-right: 3px;
        }
      }
    }
  }
}
