@import "../../../assets/styles/global";

.menu {
  width: 350px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  background-color: $base-color-darker;
  box-shadow: 8px 0px 30px #00000030;
  font-family: 'Inter', sans-serif;

  & > .menu-content {
    @extend .full;

    & > div {
      @extend .full;
      @extend .middle;
      display: flex;
      flex-flow: column;
    }
  }

  & > .logo-wrapper {
    width: 100%;
  }
}

.menu-content-items {
  width: 100%;
  height: auto;
}

.user-bar-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-wrapper {
  margin-top: 10%;
}

.logo-wrapper {
  @extend .middle;
  width: 100%;
  height: 185px;
  margin-top: 40%;
  text-align: center;
}

.options {
  list-style-type: none;
  margin-top: 10%;
  padding: 0;
  width: 100%;

  a {
    text-decoration: none;

    &:hover span,
    &.selected span {
      background: linear-gradient(to right, $base-orange, $base-pink);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    margin: 0;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: left;
    line-height: 10px;

    span {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: 1.5px;
      background: linear-gradient(to right, white, white);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover{
      background-color: #ffffff05;
      transition: 0.25s linear;
    }
  }
}
