@import "../../../assets/styles/global";

.menu {
  width: 350px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  background-color: #222;

  & > .menu-content {
    @extend .full;

    & > div {
      @extend .full;
      @extend .middle;
    }
  }

  & > .logo-wrapper {
    width: 100%;
  }
}

.user-bar-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-wrapper {
  @extend .middle;
  width: 100%;
  height: 185px;
  text-align: center;
}

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;

    &:hover span,
    &.selected span {
      background: linear-gradient(to right, #f94922, #bc209b);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    margin: 0;
    border-bottom: 2px solid #2d2d2d;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: left;
    line-height: 10px;

    span {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: 1.5px;
      background: linear-gradient(to right, white, white);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
