@import "../../../assets/styles/global";

.menu {
  width: 100%;
  height: 100%;
  background-color: #222;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;

  & > div {
    @extend .full;
    @extend .middle;
  }
}

.logo-wrapper {
  @extend .middle;
  width: 100%;
  height: 185px;
  text-align: center;
}

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
    margin: 0;
    border-bottom: 2px solid #2d2d2d;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: left;
    line-height: 10px;

    &:hover {
      cursor: pointer;
    }

    &:hover span,
    &.selected span {
      background: linear-gradient(to right, #f94922, #bc209b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: 1.5px;
      background: linear-gradient(to right, white, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
