@import "../../../assets/styles/global";

.global-player {
  @extend .middle;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  background: #333;
  box-shadow: 0 0 10px 5px #2a2a2a;
  padding: 10px;
  box-sizing: border-box;

  & > div {
    @extend .full;
  }

  .button {
    @extend .middle;
    width: 50px;
    height: 50px;
    float: left;
    opacity: 0.8;
    transition: 0.3s ease-out;
    margin: 0;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.bar-box {
  @extend .middle;
  float: left;
  width: 60%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;

  .bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #f94922, #bc205a);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    & > .not-fill {
      position: absolute;
      right: 0;
      max-width: 100%;
      min-width: 0%;
      height: 100%;
      background: #707070;
      transition: width 0.3s ease-out;
    }
  }
}

.volume-box {
  @extend .middle;
  float: left;
  width: 50px;
  height: 50px;
}

.track-box {
  @extend .middle;
  float: left;
  width: calc(100% - 60% - 50px - 50px);
  height: 50px;
  box-sizing: border-box;
  position: relative;

  .left,
  .right {
    float: left;
  }

  .left {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
  }

  .right {
    @extend .middle;
    width: calc(100% - 50px);
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 13px;
  }

  .right span {
    font-size: 11px;
  }

  .track-cover {
    @extend .full;
    @extend .image;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px #2a2a2a;
  }
}
