@import "../../../assets/styles/global";

$base-color-player: #121212;

.global-player {
  @extend .middle;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: $base-color-player;
  box-shadow: 0px 0px 30px #0000004a;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;

  & > div {
    @extend .full;
  }

  .button {
    @extend .middle;
    width: 50px;
    height: 50px;
    float: left;
    opacity: 0.8;
    transition: 0.3s ease-out;
    margin: 0;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &.recording-box {
      position: relative;
      overflow: hidden;
      .background {
        position: absolute;
        border-radius: 50%;
        width: 0%;
        height: 0%;
        z-index: 1;
      }
      &.active {
        .background {
          width: 50%;
          height: 50%;
          animation: 0.5s animateRecordingButtonBg infinite;
        }
        i {
          color: #f94922;
          animation: 1s animateRecordingButtonIcon infinite;
          position: relative;
          z-index: 20;
        }

        @keyframes animateRecordingButtonBg {
          0% {
            width: 50%;
            height: 50%;
            background: #333;
          }

          80% {
            width: 70%;
            height: 70%;
            background: #222222;
          }
        }

        @keyframes animateRecordingButtonIcon {
          0% {
            color: #f94922;
          }
          30% {
            color: #da345f;
          }
          50% {
            color: #d83364;
          }
        }
      }
    }
  }
}

.bar-box {
  @extend .middle;
  float: left;
  width: calc(100% - 50px - 50px - 50px - 300px);
  height: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;

  .bar-area {
    @extend .middle;
    width: 100%;
    height: 40%;
    position: relative;
    margin-top: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #f94922, #bc205a);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    & > .not-fill {
      position: absolute;
      right: 0;
      max-width: 100%;
      min-width: 0%;
      height: 100%;
      background: #707070;
      transition: width 0.3s ease-out;
    }
  }
}

.volume-box {
  @extend .middle;
  float: left;
  width: 50px;
  height: 50px;
}

.track-box {
  @extend .middle;
  float: left;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  .left,
  .right {
    float: left;
  }

  .left {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
  }

  .right {
    @extend .middle;
    justify-content: flex-start;
    width: calc(100% - 50px);
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 13px;

    span {
      font-size: 11px;
    }
    /*
    span.author {
    }

    span.title {
    }
    */
  }

  .track-cover {
    @extend .full;
    @extend .image;
    border-radius: 3px;
  }
}
