.moment-container {
    height: 100%;
    box-sizing: border-box;
    position: relative;
}


.moment-name-container {
    position: absolute;
    z-index: 10;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.moment-name {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0, -50%);
    font-family: Roboto;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    letter-spacing: 0.9px;
    font-variant: small-caps;
}

.moment-background {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &.highlight {
        opacity: 0.6;
    }
}