.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
  height: 100%;
}

.image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$base-color-darker: #121212;
$base-color-lighter: #1c1c1c;
$base-color-component-bg: #00000026;
$base-color-font: #c1c7b5;
$base-orange: #f94922;
$base-pink: #bc209b;
